.places{
    max-width: calc(100% - 148px * 2);
    margin: 0 auto;
    padding: 92px 0 0;
}

@media (max-width: 1024px) {
  .places {
     max-width: calc(100% - 48px * 2);
  }
}

@media (max-width: 768px) {
  .places {
     max-width: calc(100% - 24px * 2);
  }
}

@media (max-width: 320px) {
  .places {
     max-width: 320px;
     padding: 57px 0 0;
  }
}