.places{
    max-width: 76.9%;
    margin: 0 auto;
    padding: 92px 0 12px;
}

@media (max-width: 1024px) {
  .places {
     max-width: calc(100% - 48px * 2);
     padding: 88px 0 24px;
  }
}

@media (max-width: 768px) {
  .places {
     max-width: calc(100% - 24px * 2);
     padding: 88px 0 16px;
  }
}

@media (max-width: 320px) {
  .places {
     max-width: 320px;
     padding: 60px 0 0px;
  }
}