.intro__list {
    color: #fff;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*@media (max-width: 320px) {
    .intro__list {
      padding: 33px 0 62px;
    }
  }*/