.footer__link {
  text-decoration: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  margin-right: 18px;
}

.footer__link:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.14; 
   }
}

@media (max-width: 732px) {
  .footer__link {
    font-size: 24px;
    line-height: 1; 
   }
}

@media (max-width: 689px) {
  .footer__link {
    font-size: 19px;
    margin-right: 40px;
  }
}

@media (max-width: 320px) {
    .footer__link {
      font-size: 24px;
      line-height: 1; 
     }
  }