.footer__links {    
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  list-style: none;
}

@media (max-width: 768px) {
  .footer__links {
    margin-top: 2px;
   }
}

@media (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    align-content: flex-start;
   }
}