.place__paragraph {
  width: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  color: #FFFFFF;
}

.place__paragraph:nth-of-type(2n) {
    margin-top: 26px;
}


@media (max-width: 1024px) {
  .place__paragraph {
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .place__paragraph {
    padding-bottom: 15px;
    max-width: 288px;
    margin: 0 auto;
  }
  .place__paragraph:nth-of-type(2n) {
    margin-top: 9px;
    padding-bottom: 0; 
 }
}