.photo-greed {
  max-width: calc(100% - 48px * 2 );
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px 16px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .photo-greed {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 14px;
  }
}

@media (max-width: 768px) {
  .photo-greed {
    max-width: calc(100% - 24px * 2);
    grid-template-columns: repeat(2, 1fr);
    gap: 13px 16px;
  }
}

@media (max-width: 320px) {
  .photo-greed {
    max-width: 288px;
    grid-template-columns: 1fr;
    gap: 9px;
  }
}