.cover {
    margin: 0 auto 92px;
    max-width: 1184px;
}

@media (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cover {
    max-width: 768px;
  }
}
  
@media (max-width: 320px) {
  .cover {
    width: 100%;
    margin: 0 auto 46px;
    max-width: 320px;
  }
}