.cover {
    margin: 0 auto 92px;
    max-width: 1184px;
}

@media (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
  
@media (max-width: 320px) {
  .cover {
    margin: 4px auto 53px;
    max-width: 320px;
  }
}