.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding: 52px 0 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .footer {
      max-width: 928px;
      padding: 57px 0 0px;
    }
}

@media (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding: 51px 0 0px;
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: 186px;
    padding: 17px 0 0px;
    margin: 0 0 0 16px;
    flex-direction: column;
  }
}