.intro__title {
  max-width: 690px;
  height: 58px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
  margin: 0 0 40px;
}

@media (max-width: 768px) {
    .intro__title {
      max-width: calc(100% - 24px * 2);
      padding: 0 0 40px 0;
    }
  }

@media (max-width: 444px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
  @media (max-width: 320px) {
  .intro__title {
    max-width: 251px;
    font-size: 32px;
    line-height: 1.09;
    padding-bottom: 10px;
  }
}